.custom-nile-404 {
	.main-container {
		background-color: black;
		color: white;
		text-align: center;
		margin-bottom: -1px;

		.block-system {
			.field-name-body {
				padding: rem(400px) 5%;

				h2 {
					color: $yellow-dark;
					display: inline-block;
					font-family: $ngbl;
					font-size: rem(60px);
					margin-bottom: 0;
					text-transform: uppercase;
					transform-origin: bottom left;
					position: relative;
					animation: ani-sorry 3s ease forwards;
				}

				@keyframes ani-sorry {
					0% {
						top: -90px;
						transform: rotate(-55deg);
					}

					10% {
						top: 0px;
						transform: rotate(-55deg);
					}

					15% {
						transform: rotate(0deg);
						top: 0px;
					}

					18% {
						top: -30px;
					}

					20% {
						top: 0px;
					}
				}

				h3 {
					color: $red-dark;
					font-family: $ngbo;
					font-size: rem(25px);
					margin-bottom: rem(60px);
					margin-top: 0;
				}

				p {
					font-family: $ng;
					font-size: (20px);

					a {
						color: white;
						font-family: $ngm;
						text-transform: capitalize;
						padding-left: rem(30px);
						position: relative;

						&:before {
							background-image: url('../images/icons/red-arrow-right.svg');
							background-repeat: no-repeat;
							content: '';
							transform: rotate(180deg);
							display: block;
							height: rem(20px);
							left: rem(0px);
							position: absolute;
							top: rem(1px);
							width: rem(20px);
						}
					}
				}
			}
		}
	}
}