body {
	&.page-agegate {
		background: $black;
		font-family: $ng;
		// Main Age wrapper 
		#age_checker {
			
			// Brand
			.logo {
				text-align: center;
				margin: 0 auto rem(20px);
				padding: rem(62px) 0 0;
				@include mq('sm') {
					margin: 0 auto;
					padding: rem(82px) 0 0;
				}
				img {
					display: inline-block;
					max-width: 80%;
					border-bottom: rem(2px) solid;
					border-image: linear-gradient(90deg, $black 0%, $red-brown 20%, $red-brown 51%, $red-brown 81%, $black 100%);
					border-image-slice: 1;
					padding: 0 rem(40px);
					padding-bottom: rem(15px);
					@include mq('sm') {
						max-width: rem(288px);
					}
				}
			}

			.agegate-container {
				padding: rem(10px) rem(20px) rem(38px);
				margin-bottom: rem(90px);

				@include mq('sm') {
					padding: rem(10px) rem(20px) rem(65px);
					margin-bottom: rem(10px);
				}

				// Hide unncesary copyright
				
				#agegate_copyright_text {
					
				}

				// Age content
				#block-system-main {
					color: $white;
					// font-family: $td-cn-18;
					max-width: rem(640px);
					margin: 0 auto;
					padding: 0 0 0 0;
					// Top message
					#age_checker_header_message {
						padding: 0 0 rem(30px);
						@include mq('md') {
							padding: rem(10px) 0 rem(20px);
						}
						.agegate-text-top,
						.agegate-text-bottom{
							text-align: center;
							color: $white;
							line-height: 1;
							text-transform: uppercase;
							font-family: $ngm;
							@include font(16px);
							// max-width: rem(380px);
							margin: 0 auto ;
							@include mq('md') {
								@include font(21px);
							}
						}
						.agegate-title-1 {
						
						}
					}

					// Form
					#age_checker_widget {
						form {
							&#sabm-age-gate-form {
								text-align: center;
								// padding: 0 rem(20px);
								// Select default styles
								.form-type {
									&-select {
										position: relative;
										display: block;
										label {
											display: none;
										}
										select {
											padding: rem(10px);
											// color: $gray-txt;
											border-radius: 0;
											border: 1px solid $white !important;
											background-color: $black;
											display: block;
											line-height: 1;
											width: 100%;
											min-height: rem(37px);
											max-height: rem(37px);
											@include font(16px);
											text-transform: uppercase;
											@include mq('md') {
												padding: rem(8px) rem(17px);									
											}
											option{
												background: $black;
											}
										}								
										&::after {
											content: "";
											display: block;
											// @include iconSVG('../images/icons/caret_down.svg', 19px);
											border-bottom: 3px solid $red;
											border-left: 3px solid $red;
											border-radius: 2px;
											transform: rotate(-45deg);
											width: rem(11px);
											height: rem(11px);
											position: absolute;
											right: rem(15px);
											top: rem(10px);
										}
									}
								}

								// Field schemma
								.form-item {
									&-list-of-countries {
										margin-bottom: rem(30px) !important;
										display: block;
										width: 100%;
										padding: 0 rem(4px);
										// font-family: $td-got-lt-std-bd-Cn-20;
										@include mq('md') {
											margin-bottom: rem(20px) !important;
											display: inline-block;
											vertical-align: top;
											width: 40%;
											// margin: 0 rem(10px);
										}
																				
									}
									// Date									

									&-day,
									&-month,
									&-year {
										label {
											display: none;
										}
										display: inline-block;
										vertical-align: top;
										width: 33.3%;
										padding: 0 rem(4px);
										input {
											padding: rem(12px);
											color: $white;
											border-radius: 0;
											min-height: rem(37px);
											max-height: rem(37px);
											background-color: $black;
											// background-color: $white;
											border: 1px solid $white !important;
											display: block;
											line-height: 1;
											width: 100%;
											@include font(16px);
											text-transform: uppercase;
											@include placeholder {
												color: $white;
												line-height: normal;
											}
											@include mq('md') {
												padding: rem(8px) rem(17px);									
											}
										}
										@include mq('md') {
											padding: 0 rem(3px);
											width: 16%;											
										}
									}

									&-month {
										@include mq('md') {

										}
									}

									// Accept checkbox
									&-remember-me {
										text-align: center;
										// margin: rem(30px) 0 rem(24px) !important;
										.ab-inbev-remember-me,
										.control-label {
											text-transform: uppercase;
											position: relative;
											margin: rem(20px) 0;
											margin-left: rem(35px);
											.form-checkbox{
												opacity: 0;
												// width: rem(18px);
												// height: rem(18px);
												// margin-left: 0;
												+ .checkmark{
													width: rem(16px);
													height: rem(16px);
													border: 2px solid $red;
													border-radius: 50%;
													position: absolute;
													left: rem(-23px);
													margin-top: rem(3px);
													&:after{
														content: '';
														position: absolute;
														width: rem(7px);
														height: rem(7px);
														background: $white;
														border-radius: 50%;
														top: 50%;
														left: 50%;
														transform:translate(-50%, -50%);
														display: none
													}
												}
												&:checked{
													+ .checkmark{
														&::after{
															display: block;
														}
													}
												}
											}
											strong{
												margin-left: rem(25px);
											}
											@include mq('md') {
												text-align: left;
												display: inline-block;
												vertical-align: top;
												width: auto;
												margin-bottom: 0;
												margin-top: 0;
											}
										}
										@include mq('md'){
											display: inline-block;
											vertical-align: top;
											margin-top: 0;
										}
									}
								}
								.ab-inbev-remember-me {
									font-size: rem(12px);
									text-align: left;
									color: $gray-txt;
									font-family: $ngm;
									text-transform: uppercase;
									
									@include mq('md') {
										font-size: rem(10px);
										margin-left: rem(10px);
										display: inline-block;
										width: 70%;
									}
									a {
										color: $gray-txt;
									}
									span {
									}
									@include mq('md') {
										display: inline-block;
										width: 70%;
										margin-left: rem(10px);
									}
								}


								// CTAS
								#edit-submit {
									margin: rem(25px) 0 rem(10px);
									@include yellowBtn(24px);
									@include mq('md') {
										
									}

									@include mq('tb') {
										
									}
								}
								.label_or{
									position: relative;
									margin: rem(7px) 0 rem(12px);
									&:before,
									&:after{
										content: '';
										position: absolute;
										width: 77px;
										height: 1px;
										background: $white;
										left: 50%;
										top: 50%;
										transform: translate(-50%, -50%);
									}
									&:before{
										left: 30%;
									}
									&:after{
										left: 70%;
									}
									@include mq('md'){
										&:before{
											left: 40%;
										}
										&:after{
											left: 60%;
										}
									}
								}

								.age_checker_facebook_validate {
									position: relative;
									@include mq('md') {
										
									}

									@include mq('tb') {										
										
									}

									.fb_iframe_widget {
										position: absolute;
										opacity: .001;
										z-index: 2;
										cursor: pointer;
										bottom: -7%;
										left: 50%;
										transform: translateX(-50%);
										width: 50px;
										height: 50px;
										margin: 0;
										span{
											left: -5rem;
										}
									}
									.button_facebook{
										&:after{
											content: '';
											display: inline-block;
											width: 50px;
											height: 50px;
											@include iconSVG('../images/icons/facebook-login.svg', 14px);
											background-size: contain;
											text-indent: 999999px;
											margin: rem(10px) auto 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		#age_checker.has-underage-error {
			.age_checker_facebook_validate, .label_or, #edit-submit{
				display: none!important;
			}
			}

	}
}