.page-user-login {
	.main-container {
		background-color: black;
		margin: 0 auto;
		max-width: 750px;
		min-width: auto;
		padding: 200px 5%;
		width: auto;

		label {
			color: white;
		}

		input {
			background-color: transparent;
			border-radius: 0;
			border: none;
			color: $yellow-dark;
			border-bottom: 1px solid white;
		}
	}
}