@font-face {
    font-family: 'Niveau Grotesk';
    src: url('../fonts/niveau/NiveauGroteskRegular.woff2') format('woff2'),
        url('../fonts/niveau/NiveauGroteskRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Niveau Grotesk Light';
    src: url('../fonts/niveau/NiveauGroteskLight.woff2') format('woff2'),
        url('../fonts/niveau/NiveauGroteskLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Niveau Grotesk Bold';
    src: url('../fonts/niveau/NiveauGroteskBold.woff2') format('woff2'),
        url('../fonts/niveau/NiveauGroteskBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Niveau Grotesk Medium';
    src: url('../fonts/niveau/NiveauGroteskMedium.woff2') format('woff2'),
        url('../fonts/niveau/NiveauGroteskMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Niveau Grotesk Black';
    src: url('../fonts/niveau/NiveauGroteskBlack.woff2') format('woff2'),
        url('../fonts/niveau/NiveauGroteskBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Niveau Grotesk Black';
    src: url('../fonts/niveau/NiveauGroteskBlack.woff2') format('woff2'),
        url('../fonts/niveau/NiveauGroteskBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: 'FuturaStd-Bold';
    src: url('../fonts/futura/FuturaStd-Bold.eot');
    src: local('☺'), url('../fonts/futura/FuturaStd-Bold.woff') format('woff'), url('../fonts/futura/FuturaStd-Bold.ttf') format('truetype'), url('../fonts/futura/FuturaStd-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'FuturaStd-Book';
    src: url('../fonts/futura/FuturaStd-Book.eot');
    src: local('☺'), url('../fonts/futura/FuturaStd-Book.woff') format('woff'), url('../fonts/futura/FuturaStd-Book.ttf') format('truetype'), url('../fonts/futura/FuturaStd-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}