
body {
	.footer {

		border: none;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}
}

.ab-inbev-footer {
	padding: rem(10px);
	background: $black;
	// margin-top: rem(100px);
	@include mq('md') {
		padding: rem(11px);
		margin: 0;
	}

	.ab-inbev-footer-content-1,
	.ab-inbev-footer-content-2 {
		@include cont;
		max-width: 90%;
		color: $white;
		text-align: center;
		a {
			color: $white;
		}
	}

	// Logo
	.ab-inbev-footer-aware-logo {
		width: rem(120px);
		height: rem(31px);
		background-image: url('../images/brand/awarelog.png');
		background-size: 100% 100%;
		overflow: hidden;
		text-indent: -999999px;
		display: block;
		margin: rem(14px) auto;
		@include mq('md') {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 0;
		}
	}
	
	// Tap
	.tap-logo {
		@include mq('md') {
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}
	}

	.ab-inbev-footer-tap-into-your-beer {
		display: block;
		overflow: hidden;
		text-indent: -999999px;
		width: rem(200px);
		height: rem(13px);
		background-image: url('../images/brand/tap-beer.png');
		background-size: 100% 100%;
		margin: rem(20px) auto rem(15px);
			
		@include mq('md') {
			margin: 0 rem(22px);
			display: inline-block;
			vertical-align: middle;
		}
		
	}

	// Social footer logos
	.social-networks {
		text-align: center;
		padding: 0;
		display: block;
		@include mq('md') {
			// width: auto;
			display: inline-block;
			vertical-align: middle;
			// margin: 0 rem(60px);
		}
		li {
			display: inline-block;
			margin: 0 rem(5px);
			@include mq('md') {
				margin: 0 0;
			}
			a {
				display: block;
				width: rem(29px);
				height: rem(29px);
				position: relative;
				border-radius: 100%;
				background-color: transparent ;
				&:hover {
					background-color: rgba(255,255,255,0.2);
				}
			}

			&.facebook {
				margin-left: 0;
				a {
					@include iconSVG('../images/icons/facebook-logo.svg', 14px);
					text-indent: 999999px;
				}
			}
			&.instagram {
				a {
					@include iconSVG('../images/icons/instagram-logo.svg', 14px);
					text-indent: 999999px;
				}
			}
			&.youtube {
				a {
					@include iconSVG('../images/icons/youtube-logo.svg', 14px);
					text-indent: 999999px;
				}
			}
			&.twitter {
				margin-right: 0;
				a {
					@include iconSVG('../images/icons/twitter-logo.svg', 14px);
					text-indent: 999999px;
				}
			}
		}
	}

	// First footer line
	.ab-inbev-footer-content-1 {
		padding: 0;
		@include mq('md') {
			padding: rem(12px) 0;
			border-bottom: rem(1px) solid $white;
			text-align: left;
		}
		ul {
			&.footer-menu {
				display: block;
				text-align: center;
				padding: 0 0 0 0;
				@include mq('md') {
					text-align: left;
					display: inline-block;
					float: right;
					text-align: right;
					margin-top: rem(2px);
				}
				li {
					display: inline-block;
					border-right: rem(1px) solid $white;
					@include mq('md') {
						line-height: 1;
					}
					a {
						padding: 0 rem(14px);
						@include font(11px);						
						text-transform: uppercase;
						@include mq('tb') {
							@include font(10px);
						}
					}
					&:last-child {
						border-right: none;
						a {
							padding-right: 0;
						}
					}
				}
			}
		}
	}

	// Second Line
	.ab-inbev-footer-content-2 {
		padding: rem(24px) 0;
		text-align: center;
		@include mq('md') {
			display: flex;
			width: 100%;
			text-align: left;
		}

		.ab-inbev-footer-content-2-text{
			text-align: center;
			@include mq('md') {
				text-align: left;
				width: 37.3%;
			}
			&-1 {
				// font-family: $bd;
				@include font(11px);
			}
			&-2 {
				@include font(9px);
				font-weight: normal;
				// font-family: $book;
				@include mq('md') {
					@include font(11px);
				}
			}
			.ab-inbev-footer-content-2-text-2{
				margin-top: rem(10px);
			}
		}

		.ab-inbev-footer-content-2-beer{
			text-align: center;
			margin-top: rem(16px);
			@include mq('md') {
				width: 40%;
			}
		}
		.ab-inbev-footer-content-2-links{
			text-align: center;
			margin-top: rem(16px);
			padding: 0;
			@include mq('md') {
				text-align: right;
				width: 23.3%;
			}
		}
		
		// .ab-inbev-footer-content-2-text-1,
		// .ab-inbev-footer-content-2-text-2,
		// .ab-inbev-footer-content-2-text-3 {
		// 	text-align: center;
		// 	@include font(14px);
		// 	font-weight: normal;
		// 	@include mq('md') {
		// 		text-align: left;
		// 		display: inline-block;
		// 		text-align: left;
		// 	}
		// }
		// .ab-inbev-footer-content-2-text-1 {
		// 	@include mq('md') {
		// 		padding-right: rem(16px);
		// 	}
		// }
		// .ab-inbev-footer-content-2-text-2 {
		// 	@include mq('md') {
		// 		padding-left: rem(16px);
		// 		border-left: rem(1px) solid $white;
		// 	}
		// }
		// .ab-inbev-footer-content-2-text-3 {
		// 	font-weight: normal;
		// 	@include mq('md') {
		// 		float: right;
		// 		text-align: right;
		// 	}
		// }
	}

	// First footer line
	.ab-inbev-footer-content-1 {
		padding: 0;

		@include mq('md') {
			padding: rem(12px) 0;
			border-bottom: rem(1px) solid $white;
			text-align: left;
		}

		.custom-footer-menu {
			display: block;
			text-align: center;
			padding: 0 0 0 0;

			@include mq('md') {
				text-align: left;
				display: inline-block;
				float: right;
				text-align: right;
				margin-top: rem(2px);
			}

			li {
				display: inline-block;
				border-right: rem(1px) solid $white;

				@include mq('md') {
					line-height: 1;
				}

				a {
					font-family: $fbold;
					padding: 0 rem(10px);
					@include font(12px);
					text-transform: uppercase;

					@include mq('tb') {
						@include font(10px);
					}

					&:hover {
						background-color: transparent;;
					}
				}

				&:last-child {
					border-right: none;

					a {
						padding-right: 0;
					}
				}
			}
		}
	}
}

//Fix for agegate
.agegate-container-footer {
	.agegate_copyright_text {
		padding: 0 0 0 0;
	}
}