body {
	font-size: 16px;
	strong,
	b {
		
	}

	// Link styles
	button,
	a {
		transition: all 0.3s;
		cursor: pointer;
		&:hover {
			transition: all 0.2s;
		}
	}

	img {
		height: auto;
		max-width: 100%;
		vertical-align: top;
	}

	// Layout
	.main-container {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		.row {
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			.col-sm-3 {
				min-height: initial;
			}
			.col-sm-9,
			.col-sm-12 {
				padding: 0 0 0 0;
				min-height: initial;
				margin: 0 auto;
				float: none;
				clear: both;
				width: 100%;
			}
		}

		// Layout fixes
		aside {
			&.col-md-3 {
				display: none;
			}
		}
		
		h1 {
			&.page-header {
				display: none;
			}
		}
	}

	// forms 
	form {
		select{
			-webkit-appearance: none;
			-moz-appearance: none;
			&::-ms-expand {
				display: none;
			}
		}		
	}
}