.scroll_menu{
	background-color: #00000096!important;
	top:0!important;
	transition-property: top!important;
  		transition-duration: 0.2s!important;
	
	.logo{
		padding: 1rem!important;
		transition-property: padding!important;
  		transition-duration: 0.5s!important;
	}
}

.navbar {
	padding-top: 1rem!important;
	padding-bottom: 1rem!important;
	&.container {
		background-color: transparent;
		border: 0;
		margin: 0;
		max-width: 100%;
		padding: 0 5%;
		position: fixed;
		width: 100%;
		z-index: 2;

		@include mq('md') {
			top: 30px;
		}

		.container {
			.navbar-header {
				width: 100%;

				a {
					background: rgba(0,0,0,0.5);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.5)), color-stop(72%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
					&.logo {
						left: 20px;
						margin: 0;
						padding: 0;
						position: relative;
						top: 0;
						width: 60px;
						//filter: drop-shadow(0px 0px 10px #000000);
						//-ms-filter:drop-shadow(0px 0px 10px #000000);
						//-webkit-filter: drop-shadow(0px 0px 10px #000000);
						
						@include mq('md') {
							width: 80px;
						}

						img {

						}
					}
				}

				.navbar-toggle {
					background-color: transparent !important;
					border: none;
					display: block !important;
					height: 30px;
					margin: 0;
					padding: 0 0 0 6px;
					position: relative;
					right: 0;
					top: 27px;
					width: 30px;
					z-index: 3;
					transition: all 1s;

					@include mq('sm') {
						right: 25px;
					}

					.icon-bar {
						background-color: #BE002B;
						transition: all 1s;
						width: 22px;
						transform-origin: 10% 10%;

						&:nth-of-type(2) {
							transform: rotate(0);
						}

						&:nth-of-type(3) {
							opacity: 1;
						}

						&:nth-of-type(4) {
							transform: rotate(0);
						}
					}

					&:hover {
						
					}

					&.collapsed {
						border-radius: 100%;
						border: 1px solid black;
						

						.icon-bar {
							background-color: black;

							&:nth-of-type(2) {
								transform: rotate(45deg);
							} 

							&:nth-of-type(3) {
								opacity: 0;
							} 

							&:nth-of-type(4) {
								transform: rotate(-45deg);
								transform-origin: 10% 100%;
							}
						}
					}
				}
			}

			.navbar-collapse {
				background-color: $yellow-dark;
				border: none;
				height: 100vh !important;
				margin: 0;
				opacity: 0;
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 2;
				transition: all 0.4s;

				@include mq('sm') {
					right: -540px;
					width: 540px;
				}

				&.collapse {
					display: none !important;
				}

				&.in {
					display: block !important;
					opacity: 1;

					@include mq('sm') {
						right: 0;
					}
				}

				nav {
					margin: 0 auto;
					max-width: 500px;
					position: relative;
					top: 90px;

					@include mq('sm') {
						max-width: none;
						top: 50%;
						transform: translateY(-50%);
					}

					.navbar-nav {
						float: none;
						clear: both;

						> li {
							display: block;
							margin: 0 10% 20px;
							text-align: center;

							@include mq('sm') {
								float: none;
								margin: 0 20% 10px;
								text-align: left;
							}

							&:nth-last-child(1) {
								margin-bottom: 0px;
							}

							&:nth-last-child(2) {
								margin-bottom: 0px;
								margin-top: 80px;
							}

							a {
								color: white;
								font-family: $ngbo;
								padding-bottom: 0;
								font-size: 25px;
								padding-top: 0;
								text-transform: uppercase;

								&.link-legal {
									color: black;
									font-family: $ngm;
									font-size: 15px;
								}

								&:hover {
									text-decoration: underline;
								}
							}

							&.active {
								a {
									background-color: transparent;
								}
							}
						}
					}
				}
			}

			.navbar-collapse,
			.navbar-header {
				@include mq('md') {
					display: inline-block !important;
					vertical-align: middle;
					float: none;
				}
			}

			
			// Brand
			.name {
				&.navbar-brand {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}