//--  Fonts --//
$ng: 'Niveau Grotesk';
$ngl: 'Niveau Grotesk Light';
$ngbo: 'Niveau Grotesk Bold';
$ngm: 'Niveau Grotesk Medium';
$ngbl: 'Niveau Grotesk Black';
$fbold: 'FuturaStd-Bold';
$fbook: 'FuturaStd-Book';

// -- Colors -- //

$white: #ffffff;
$red: #ea1c34;
$yellow: #f5a800;
$wine: #ef3b4b;
$black: #000000;
$dk-brand: #171717;
$gray-txt: #4d4d4d;
// $gray-txt: #333333;
$gray-lt: #DEDEDE;
$gray-d8: #D8D8D8;
$gold: #e4af2d;
$yellow-dark: #E2A615;
$red-dark: #BE002B;
$red-brown:rgba(93,27,22,1);
// Back Colors
$back-light-brown: #d6bc69;