.custom-nile-about {
    background-image: none !important;
    #block-system-main {
        background-color: #120c0d;
        background-position: center bottom rem(-270px);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: rem(90px) 5% rem(140px);
        @include mq('sm') {
            padding: rem(90px) 5% rem(250px);
        }
        @include mq('md') {
            background-position: center bottom rem(-440px);
            padding: rem(130px) 5% rem(250px);
            height: 100vh;
        }
        article {
            &.node-page {
                @include mq('md') {
                    // position: absolute;
                    float: right;
                    margin-right: 10%;
                    position: relative;
                    width: rem(430px);
                }
                &:before {
                    background-image: url('../images/about/logo_made_uganda.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: '';
                    display: block;
                    height: rem(100px);
                    margin: 0 auto;
                    width: rem(80px);
                    @include mq('md') {
                        height: rem(280px);
                        left: rem(-245px);
                        position: absolute;
                        top: 0;
                        width: rem(220px);
                    }
                }
                .field-name-body {
                    h2 {
                        text-align: center;
                        margin-bottom: rem(20px);
                        @include mq('md') {
                            text-align: left;
                        }
                        .number-100 {
                            background-image: url('../images/about/100_percent.png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            display: block;
                            font-size: 0;
                            height: rem(60px);
                            margin: 0 auto;
                            text-indent: rem(-9999px);
                            width: rem(270px);
                            @include mq('md') {
                                height: rem(106px);
                                margin: 0 0 rem(5px);
                                width: rem(375px);
                            }
                        }
                        .made-in {
                            color: white;
                            font-family: $ngbo;
                            font-size: rem(25.2px);
                            @include mq('md') {
                                font-size: rem(43px);
                            }
                        }
                    }
                    p {
                        text-shadow: 1px 1px 5px black;
                        color: white;
                        font-family: $ng;
                        font-size: rem(16px);
                        margin-bottom: rem(15px);
                        @include mq('md') {
                            font-size: rem(16px);
                        }
                    }
                }
            }
        }
    }
    .custom-nile-statistics {
        background-image: url('../images/about/deco-lines.svg');
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: rem(220px);
        background-color: $gold;
        padding: rem(30px) 0;
        @include mq('md') {
            padding: rem(90px) 0;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                color: black;
                display: inline-block;
                font-family: $ngbo;
                font-size: rem(35px);
                line-height: 1.2;
                text-align: left;
                padding: 0 rem(16px);
                border-right: rem(1px) solid black;
                text-align: center;
                @include mq('md') {
                    font-size: rem(75px);
                }
                &:last-child {
                    border: none;
                }
                span {
                    color: white;
                    display: block;
                    font-size: rem(15px);
                    @include mq('md') {
                        font-size: rem(27px);
                    }
                }
            }
        }
    }
    .custom-banner-about {
        padding: rem(30px) 5%;
        @include mq('md') {
            padding: rem(60px) 0;
        }
        .views-row {
            text-align: center;
        }
        .views-field-field-banner-image {
            margin: 0 auto;
            max-width: rem(400px);
            @include mq('md') {
                display: inline-block;
                vertical-align: middle;
                width: rem(500px);
                max-width: none;
            }
        }
        .views-field-body {
            color: #666666;
            @include mq('md') {
                display: inline-block;
                vertical-align: middle;
                margin-left: rem(80px);
                width: rem(460px);
            }
            h3,
            h4 {
                font-family: $ngbl;
                text-align: left;
            }
            h3 {
                @include mq('md') {
                    font-size: rem(29px);
                    margin-bottom: rem(15px);
                }
            }
            h4 {
                color: #BE002B;
                @include mq('md') {
                    font-size: rem(25px);
                    margin-top: rem(20px);
                }
            }
            p {
                color: black;
                font-family: $ng;
                text-align: left;
                @include mq('md') {
                    font-size: rem(19px);
                }
            }
        }
    }
}