.custom-contact-us{
    background-color: $black;
    color: $white;

    .custom-contact-webform {
       margin: rem(120px) 0 rem(50px);
        display: flex;
        justify-content: center;
        @include mq('md') {
            margin-top: rem(190px);
        }
       
        form.webform-client-form{ 
            width: 80%;
            text-align: center;
            @include mq('md') {
                width: 40%;
            }
            h2{
                font-family:  $ng;
                text-align: center;  
                font-size: rem(25px);  
                margin-bottom: rem(20px);
            }
           
            label, .grippie{
                display: none;
                
            }
            input, textarea{ 
                background-color: $black;  
                border-color: $gray-txt;
                
            }
            textarea{
                margin-top: rem(40px);
                resize: none;
            }

            input{
                border: none;
                border-radius: 0;
                border-bottom: rem(1px) solid;
            }
            input::placeholder{
                text-transform: uppercase;
                text-align: center;
            }
            input::-ms-input-placeholder { 
                text-transform: uppercase;
                text-align: center;
             }
             input::-webkit-input-placeholder{
                text-transform: uppercase;
                text-align: center; 
             }
             input::-moz-placeholder{
                text-transform: uppercase;
                text-align: center; 
             }
            ::placeholder{
                font-family: $ngl;
                color: $white;   
                font-size: rem(15px); 
            }
            button{
                @include yellowBtn(21px);
                letter-spacing: rem(2px);
                font-weight: 600;
                
            }
        }

    }
   
    .custom-contact-message{
        text-align: center;
        margin: 0 0 rem(85px);
        h3{
            font-family: $ngbl;
            font-size: rem(18px);
            margin: 0;
            line-height: 1.3;
            a{
                -ms-user-select:none;
            }
        }
        h4{
            font-family: $ngl;
            font-size: rem(18px);
            margin: 0;
            line-height: 1.5;
        }
        h5{
            font-family: $ngm;
            letter-spacing: rem(0.1px);
            font-size: rem(12px);
            color: $gray-txt;
            margin: 0;
            font-weight: 600;
            line-height: 2;
        }
    }
   
}