.custom-nile-history {
	.main-container {
		background-color: black;
		color: white;
		padding: rem(110px) 0 rem(40px);
		margin-bottom: -1px;

		@include mq('md') {
			padding: rem(180px) 0 rem(40px);
		}

		.view-content {
		.views-row.views-row-2.views-row-even{
				.block-text{
					@include mq('md') {
						padding-top: rem(140px);
					}

				}
			}
		.views-row.views-row-3.views-row-odd{
			h2{
			@include mq('md') {
				max-width: 33.5rem;
			}
		}
		}
			.views-row-even {
				background-color: #1A1A1A;
			}

			.views-row-last {
				background-color: transparent;
			}

			.history-item {
				display: flex;
				flex-direction: column-reverse;

				.block-image {
					// display: none;
					display: flex;
    				align-items: flex-end;
					border-left: rem(1px) solid $red-dark;
					margin-left: rem(30px);
					padding: rem(30px) rem(20px) 0 rem(30px);

					@include mq('md') {
						padding: 0 rem(20px) 0 rem(50px);
					}

					img {
						margin: 0 auto;
					}
				}

				.block-text {
					margin-left: rem(30px);
					padding: rem(50px) rem(20px) 0 rem(30px);
					border-left: rem(1px) solid $red-dark;
					position: relative;

					@include mq('md') {
						max-width: rem(730px);
						padding: rem(100px) rem(50px);
					}

					&:before {
						background-color: $red-dark;
						border-radius: 100%;
						content: '';
						display: block;
						height: rem(11px);
						left: rem(-6px);
						position: absolute;
						top: rem(90px);
						width: rem(11px);

						@include mq('md') {
							height: rem(20px);
							left: rem(-11px);
							top: rem(190px);
							width: rem(20px);
						}
					}

					h2 {
						color: $yellow-dark;
						font-family: $ngbl;
						font-size: rem(26px);
						margin: 0;

						@include mq('md') {
							font-size: rem(38px);
							max-width: rem(365px);
						}
					}

					h3 {
						color: $red-dark;
						font-family: $ngm;
						font-size: rem(18px);
						margin: rem(5px) 0 rem(20px);
						text-decoration: underline;

						@include mq('md') {
							font-size: rem(22px);
						}
					}

					p {
						font-family: $ng;

						@include mq('md') {
							font-size: rem(20px);
						}
					}
				}

				&.left {
					@include mq('md') {
						flex-direction: row-reverse;
					}

					.block-image {
						@include mq('md') {
							margin-left: 0;
							width: calc(45% - 30px);
						}

						img {
							@include mq('md') {
								margin: 0;
							}
						}
					}

					.block-text {
						@include mq('md') {
							border: none;
							margin-left: 0;
							text-align: right;
							width: 55%;
						}

						&:before {
							@include mq('md') {
								left: auto;
								right: rem(-11px);
							}
						}

						h2 {
							margin-left: auto;
						}
					}
				}

				&.right {
					@include mq('md') {
						flex-direction: row;
					}

					.block-image {
						position: relative;

						@include mq('md') {
							border: none;
							margin-left: 0;
							width: 55%;
						}

						&:before {
							background-image: url('../images/about/deco-lines.svg');
							background-repeat: no-repeat;
							background-position: bottom;
							content: '';
							display: block;
							height: rem(124px);
							left: 0px;
							position: absolute;
							bottom: rem(0px);
							width: rem(107px);

							@include mq('md') {
								height: rem(400px);
								width: 25%;
							}
						}

						img {
							@include mq('md') {
								margin: 0 0 0 auto;
							}
						}
					}

					.block-text {
						@include mq('md') {
							width: calc(45% - 30px);
						}
					}
				}

				&.gold {
					background: rgba(235,211,134,1);
					background: -moz-linear-gradient(left, rgba(235,211,134,1) 0%, rgba(191,144,42,1) 66%, rgba(246,245,204,1) 100%);
					background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,211,134,1)), color-stop(66%, rgba(191,144,42,1)), color-stop(100%, rgba(246,245,204,1)));
					background: -webkit-linear-gradient(left, rgba(235,211,134,1) 0%, rgba(191,144,42,1) 66%, rgba(246,245,204,1) 100%);
					background: -o-linear-gradient(left, rgba(235,211,134,1) 0%, rgba(191,144,42,1) 66%, rgba(246,245,204,1) 100%);
					background: -ms-linear-gradient(left, rgba(235,211,134,1) 0%, rgba(191,144,42,1) 66%, rgba(246,245,204,1) 100%);
					background: linear-gradient(to right, rgba(235,211,134,1) 0%, rgba(191,144,42,1) 66%, rgba(246,245,204,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd386', endColorstr='#f6f5cc', GradientType=1 );

					.block-text {
						h2, p {
							color: black;
						}
					}
				}
			}
			
		}
	}
}