//temporal
.custom-nile-home {
	.custom-slider-home {
		.view-slider-home {
			.view-content {
				background-color: black;
				padding-bottom: rem(50px);
				padding-top: rem(100px);
				position: relative;

				.views-row {
					position: relative;

					@include mq("md") {
						padding-bottom: rem(100px);
					}
				}

				.views-field-body {
					margin-top: rem(-80px);
					padding: 0 5%;
					text-align: center;
					width: 100%;

					@include mq("md") {
						bottom: rem(60px);
						position: absolute;
					}

					.field-content {
						margin: 0 auto;
						max-width: 400px;
						width: 80%;

						@include mq("md") {
							max-width: rem(750px);
							width: 55%;
						}

						p {
							color: white;
							font-family: $ng;
							font-size: rem(13px);
							line-height: 1.5;

							@include mq("md") {
								font-size: rem(16px);
							}
						}
					}
				}

				.slick-arrow {
					background-repeat: no-repeat;
					height: rem(30px);
					width: rem(30px);
					z-index: 1;

					&.slick-prev {
						background-image: url("../images/icons/caret-left.svg");
						left: 3%;
					}

					&.slick-next {
						background-image: url("../images/icons/caret-right.svg");
						right: 3%;
					}
				}
			}
		}
	}

	.custom-banners-home {
		.view-banners-home {
			overflow: hidden;
		}

		.views-row {
			position: relative;

			@include mq("md") {
				float: left;
				width: 50%;
			}

			.views-field-field-banner-link {
				bottom: rem(20px);
				position: absolute;
				right: 0px;
				width: rem(180px);

				@include mq("md") {
					bottom: rem(50px);
					right: rem(25px);
				}

				a {
					color: white;
					display: block;
					font-family: $ngm;
					font-size: rem(20px);
					font-weight: bold;
					line-height: 1.3;
					padding-left: rem(40px);
					position: relative;

					&:hover {
						text-decoration: none;
					}

					&:before {
						background-image: url("../images/icons/red-arrow-right.svg");
						background-repeat: no-repeat;
						content: "";
						display: block;
						height: rem(20px);
						left: rem(10px);
						position: absolute;
						top: rem(6px);
						width: rem(20px);
					}
				}
			}
		}
	}

	.custom-feeds {
		text-align: center;
		padding-bottom: rem(40px);

		h2 {
			background-color: $red;
			color: white;
			font-family: $ngm;
			font-size: rem(30px);
			margin: 0;
			padding: rem(40px) 0;
			text-align: center;
			text-transform: uppercase;

			@include mq("md") {
				padding: rem(100px) 0;
			}
		}

		.block-media {
			margin-top: rem(40px);
			padding: 0 4%;

			@include mq("md") {
				display: inline-block;
				padding: 0 rem(20px);
				vertical-align: top;
				width: rem(500px);
			}

			@include mq("lg") {
				width: rem(620px);
			}

			h3 {
				display: block;
				font-size: 0;
				margin: 0 0 rem(20px);
				overflow: hidden;
				text-align: center;
				// text-indent: -9999px;
				white-space: nowrap;

				@include mq("md") {
					text-align: left;
					margin: 0 rem(15px) rem(20px);
				}

				&:before {
					background-repeat: no-repeat;
					background-size: contain;
					content: "";
					display: inline-block;
					height: rem(40px);
					width: rem(40px);

					@include mq("md") {
						height: rem(70px);
						width: rem(70px);
					}
				}
			}

			&.social-media-instagram {
				h3 {
					&:before {
						background-image: url("../images/icons/icon-instagram.svg");
					}
				}
			}

			&.social-media-twitter {
				h3 {
					&:before {
						background-image: url("../images/icons/twitter-logo-black.svg");
					}
				}
				#timeline {
					display: flex;
					align-items: center;
					flex-direction: column;
					@include mq("md") {
						flex-direction: row;
						align-items: flex-start;
					}
				}
			}

			#facefeed {
				padding-top: rem(6px);
			}

			#instafeed,
			#facefeed {
				overflow: hidden;
				text-align: center;

				@include mq("md") {
					text-align: left;
				}

				.instaphoto,
				.thumb__fb {
					overflow: hidden;
					position: relative;
					margin: rem(10px);
					display: inline-block;
					vertical-align: top;
					width: rem(290px);
					height: rem(290px);

					@include mq("md") {
						width: rem(200px);
						height: rem(200px);
					}

					img {
						max-height: rem(290px);
						max-width: none;
						min-width: rem(290px);

						@include mq("md") {
							max-height: rem(200px);
							min-width: rem(200px);
						}
					}
				}
			}

			#facefeed {
				.thumb__fb {
					@include mq("md") {
						width: rem(157px);
						height: rem(157px);
						margin: rem(4px);
					}

					img {
						@include mq("md") {
							max-height: rem(157px);
							min-width: rem(157px);
						}
					}
				}
			}
		}
	}
}
