.custom-register-newsletter {
    background-color: green;
    background-color: $black;
    color: $white;
    .block-webform {
        @include mq('md') {
            min-height: 400px;
        }
    }
    .block-title {
        display: none;
    }
    #block-webform-client-block-91 {
        margin-top: 110px;

        @include mq('md') {
            margin-top: 190px;
        }
    }
    form.webform-client-form {
        width: 80%;
        text-align: center;
        position: relative;
        margin: 0 auto;
        @include mq('md') {
            max-width: 990px;
        }
        .table-responsive {
            border: initial;
        }
        .webform-progressbar {
            display: none;
        }
        h2 {
            font-family: $ng;
            text-align: center;
            font-size: rem(25px);
            margin-bottom: rem(20px);
        }
        input,
        textarea,
        select {
            background-color: $black;
            border-color: $gray-txt;
            color: $gray-txt;
            &.error {
                border-bottom: rem(1px) solid $red-brown;
            }
        }
        textarea {
            margin-top: rem(40px);
            resize: none;
        }
        input,
        select {
            border: none;
            border-radius: 0;
            border-bottom: rem(1px) solid $gray-txt;
            &.error {
                border-bottom: rem(1px) solid $red-brown;
            }
        }
        input::placeholder,
        select::placeholder {
            text-transform: uppercase;
            text-align: left;
        }
        input::-ms-input-placeholder,
        select::-ms-input-placeholder {
            text-transform: uppercase;
            text-align: left;
        }
        input::-webkit-input-placeholder,
        select::-webkit-input-placeholder {
            text-transform: uppercase;
            text-align: left;
        }
        input::-moz-placeholder select::-moz-placeholder {
            text-transform: uppercase;
            text-align: center;
        }
         ::placeholder {
            font-family: $ngl;
            color: $white;
            font-size: rem(15px);
        }
        .webform-component-select .webform-component-select {
            position: relative;
            select {
                color: $white;
                font-size: 14px;
                border-bottom: rem(1px) solid $gray-txt;
                text-transform: uppercase;
                &.error {
                    border-bottom: rem(1px) solid $red-brown;
                }
                option:first {
                    color: #999;
                }
            }
            &::before {
                content: "";
                @include iconSVG('../images/icons/icon-arrow.svg', 20px);
                display: block;
                height: 20px;
                width: 20px;
                position: absolute;
                top: 0;
                right: 12px;
                transform: rotate(270deg);
            }
        }
        .wrapper-left {
            @include mq('md') {
                float: left;
                margin-right: 20px;
            }
        }
        .wrapper-left,
        .wrapper-right {
            @include mq('md') {
                vertical-align: top;
                width: 44%;
            }
        }
        .wrapper-date table tbody {
            display: flex;
            flex-direction: row;
            @include mq('md') {
                margin-top: -6px;
            }
        }
        .form-actions {
            @include mq('md') {
                position: absolute;
                float: right;
                right: 31%;
                bottom: -59px;
            }
            button {
                @include yellowBtn(21px);
                letter-spacing: rem(2px);
                font-weight: 600;
            }
        }
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: initial;
    }
    .table>tbody>tr>td {
        border-top: initial;
        padding: 4px 8px;
        display: block;
        background-color: #000;
        font-size: 10px;
        text-align: left;
    }
    input#edit-submitted-wrapper-right-tyc-1,
    input#edit-submitted-wrapper-right-futureevents-1 {
        right: 0;
        top: 0;
    }
    th.webform-grid-question {
        display: none !important;
    }
    th.webform-grid-question {
        background-color: black;
    }
    th.checkbox.webform-grid-option {
        display: none !important;
    }
    td.checkbox.webform-grid-option {
        position: absolute;
        right: 0;
        margin-top: -26px;
    }
    label.control-label {
        color: #000;
    }
    .table .table {
        background-color: initial;
        margin-bottom: 0;
    }
    .table-hover>tbody>tr:hover {
        background-color: initial;
    }
    .webform-grid-question {
        display: none;
    }
}