.custom-nile-sports {
	background-image: none !important;

	#block-system-main {
		background-color: black;
		background-repeat: no-repeat;
		background-size: 150%;
		position: relative;

		@include mq('md') {
			background-size: cover;
		}
	
		article {
			&.node-page {
				padding: 85% 5% rem(60px);
				text-align: center;
				color: white;

				h2, h3, h4, p {
					text-shadow: 0px 0px rem(12px) black;
				}

				@include mq('md') {
					float: right;
					padding: 9% 0 7%;
					position: relative;
					right: 4%;
				}

				@include mq('lg') {
					right: 9%;
				}

				h2 {
					color: $yellow-dark;
					font-family: $ngm;
					font-size: rem(35px);
					line-height: 0.8;
					margin: rem(30px) auto rem(50px);
					position: relative;
					width: rem(245px);

					@include mq('md') {
						font-size: rem(60px);
						margin: rem(30px) auto rem(80px);
						width: rem(320px);
					}

					@include mq('lg') {
						font-size: rem(70px);
						margin: rem(30px) auto rem(220px);
						width: rem(390px);
					}

					span {
						color: white;
						display: block;
						font-size: rem(55px);
						font-family: $ngbl;

						@include mq('md') {
							font-size: rem(75px);
						}

						@include mq('lg') {
							font-size: rem(92px);
						}
					}

					&:after {
						background-image: url('../images/icons/nile_flag.png');
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						content: '';
						display: block;
						height: rem(30px);
						margin: 0 auto;
						width: rem(25px);

						@include mq('md') {
							height: rem(40px);
							width: rem(35px);
						}

						@include mq('lg') {
							height: rem(45px);
						}
					}
				}


				h3 {
					font-family: $ngbo;
					margin-bottom: rem(20px);

					@include mq('md') {
						font-size: rem(27px);
					}

					@include mq('lg') {
						font-size: rem(32px);
					}

					span {
						color: $yellow-dark;
						display: block;
						font-size: rem(28px);

						@include mq('md') {
							font-size: rem(32px);
						}

						@include mq('lg') {
							font-size: rem(37px);
						}
					}
				}

				.sports-body-link {
					color: white;
					font-family: $ngm;
					font-size: rem(18px);
					padding-left: rem(40px);
					position: relative;

					@include mq('md') {
						font-size: rem(20px);
					}

					&:before {
						background-image: url('../images/icons/red-arrow-right.svg');
						background-repeat: no-repeat;
						content: '';
						display: block;
						height: rem(20px);
						left: rem(10px);
						position: absolute;
						top: rem(3px);
						width: rem(20px);
					}
				}
			}
		}
	}
	.custom-nile-special {
		background-color: $back-light-brown;
		padding: 3rem 3rem 5rem;

		h2 {
			text-align: center;
			font-weight: bold;
			color: $white;
			font-family: $ngbo;

			@include mq('sm') {
				font-size: 4.2rem;
				line-height: 4rem;
			}

			@include mq('md') {
				font-size: 8.2rem;
				line-height: 7rem;
			}

			span {
				color: $black;
			}
		}
		.text-special {
			font-family: $ng;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			@include mq('lg') {
				width: 60%;
			}
		}
	}
}