.custom-thanks{
    .field.field-name-body.field-type-text-with-summary.field-label-hidden{
        background-color: $black;
        height: rem(600px);
        display: flex;
        justify-content: center;
        align-items: center;
    
        h2{
            font-family:  $ng;
            color: $white;
            font-size: rem(35px);
            text-align: center;
            margin-right: rem(30px);
            margin-left: rem(30px);
            text-transform: uppercase;
        }
        p{
            text-align: center;
        }
        a{
            @include yellowBtn(15px);
            letter-spacing: rem(2px);
            font-weight: 600;
        }
    }
}
